body {

    display: inline-block;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/1200x/1a/ee/5c/1aee5c344846f449350feae457ea350e.jpg");



}

.nav-item {
    font-size: 22px;
    float: left;
    padding-left:24px;
    padding-right: 24px;


}



.nav1 {
    background-color: #007BFF;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.payments {
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 3px solid black;
}

.payment-entry-form,
.payment-history {
    margin-bottom: 20px;


}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}


.header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}